.anchor
.DS_Store
*.dylib
*.so
target/*
!target/idl
!target/idl/**
!target/deploy
!target/deploy/order_matching-keypair.json
**/*.rs.bk
node_modules
test-ledger
.yarn
app/.next/
app/node_modules/
target/deploy/order_matching-keypair.json
.claude/
